.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 250px;
    box-shadow: 0 0  40px rgb(204, 204, 204);
    margin: -20px -5px 0 -5px;
}