.navlist {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

.navlist-item a {
  text-decoration: none;
  color: black;
  font-size: 23px;
  font-weight: 500;
}




.navlist-dark .navlist-item a {
  color: #ddd;
}

/* Hover effektləri (hər iki rejim üçün) */
.navlist-item a:hover {
  text-decoration: underline;
}
