.container-layout {
  display: flex;
  min-height: 100vh;

  &.dark-mode {
    color: #f0f0f0;
  }

  &.light-mode {
    background-color: #ffffff;
    color: #222;
  }
}

.left-sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 80px;
  padding: 10px 60px;
  font-size: 25px;
  overflow-y: auto;
  z-index:100;

  &.sidebar-dark {
    background-color: inherit;
    border-right: 1px solid #333;
  }

  &.sidebar-light {
    background-color: #fffdfd;
    border-right: 1px solid #ccc;
  }

  .menu-box {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: #333;

      li {
        color:#1F3B73;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        .menu-link {
          text-decoration: none;
          color: inherit;
          font-weight: bold;
          display: inline-block;
        }

        .menu-link:hover {
          text-decoration: underline;
        }

        .toggle-mode-btn {
          background: none;
          border: none;
          cursor: pointer;
          font-weight: bold;
          color: inherit;
        }
      }
    }
  }
}

.article-list {
  flex: 1;
  padding: 20px;
  margin-left: 350px;
  min-height: 100vh;

  &.article-dark {
    background-color: #1a1a1a;
    color: #f0f0f0;
  }

  &.article-light {
    background-color: #ffffff;
    color: #222;
  }
}
